.form-block {
    padding: 8px 0px;
}

.form-block .btn {
    margin: 6px 0px;
}

.form-block select {
    padding: 2px 10px;
    line-height: 24px;
}

.form-block input, select, textarea {
    border-radius: 0.25rem
}

.form-block textarea {
    height: 128px;
}

.form-block textarea:invalid {
    border-color: red;
}