# Dev and lock files
.idea/
*.lock

# Chart dependencies
**/charts/*.tgz

# Local .terraform directories
**/.terraform/*

# Terrform files
*.tfstate
*.tfstate.*
**/.terraform.lock.hcl
provisioning/install_asm_1.9

# Key files
isidro-certbot.json
isidro-provisioner.json
isidro-skaffold.json

# Anthos service mesh output directory
**/.asm-outdir

# Hydrated configs
skaffold.yaml

# Python - byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python - distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST