{{/*  get image resources  */}}
{{- $img := .page.Resources.GetMatch .src -}}
{{- if not $img -}}
  {{- warnf "No image resource found at %s%s" .page.RelPermalink .src  -}}
{{- end -}}
{{- $src := "" -}}
{{- $srcset := slice -}}

{{- $widths := sort .widths  -}}

{{- range $index, $width := $widths -}}

  {{- if gt $.width $img.Width -}}
    {{- warnf "Source image %s is not wide enough to resize to %dpx " $img.RelPermalink $width -}}
  {{- end -}}

  {{- $imgResized := $img.Resize (printf "%dx" $width) -}}
  {{- $srcset = $srcset | append (printf "%s %dw" $imgResized.RelPermalink $width  ) -}}
  {{- if eq (len $widths) (add $index 1) -}}
    {{- $src = $imgResized -}}
  {{- end -}}
{{- end -}}

{{- $srcset = delimit $srcset ", " -}}


<img 
  srcset="{{ $srcset }}"
  src="{{ $src.RelPermalink }}" 
  alt="{{ .alt }}" 
  width="{{ $src.Width }}" 
  height="{{ $src.Height }}"
  class="{{ .class | default ""}}"
  sizes="{{ .sizes | default "100vw" }}">