* {
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0.05em;
}

html {
  scroll-behavior: inherit!important;
}
body {
  background-color: #1A2A45;
}

.container {
  max-width: 1280px;
}

.btn {
  white-space: nowrap;
  box-shadow: none!important;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.custom-font {
  font-family: 'Mansalva', cursive;
  color: $yellow;
}


.btn:hover {
  * {
    fill: #1a2a45;
  }
}



// highlight code 
.highlight {
  margin: 30px 0;
  &>div {
    padding: 10px 0;
    overflow: auto;
  }
  td {
    
    &:first-child {
      padding: 0 4px!important;
      border-right: 1px solid #ffffff3d!important;
    }
    &:nth-child(2) {
      padding: 0 15px 0 15px!important;
    }
  }
  
}


@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Nanum+Pen+Script&display=swap');




.section {
  padding: 80px 0;
  &--header {
    max-width: 550px;
    margin: 0 auto 20px;
    @include res(desktop) {
      margin-bottom: 50px;
    }
  }
  &--title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.7em;
    @include res(tablet) {
      font-size: 32px;
    }
    @include res(desktop) {
      font-size: 32px;
    }
  }
  @include res(tablet) {
    padding: 200px 0;
  }
  &--text {
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.7em;
      letter-spacing: 0.04em;
      opacity: 0.8;
      text-align: center;
      margin-bottom: 15px;
      @include res(tablet) {
        text-align: left;
      }
      @include res(desktop) {
        font-size: 22px;
        margin-bottom: 40px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
