// lazySizes noscript
.no-js img.lazyload {
  display: none;
}
// work around for width: auto
// use !important on both properties if you have issues
img[data-sizes="auto"] {
  display: block;
  width: 100%;
}

// @import 'bootstrap/scss/bootstrap.scss';

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "_helpers/custom-variables";

// 3. Include remainder of required Bootstrap stylesheets
// @import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
// Configuration
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas";
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";



// help
@import "_helpers/mixins";
@import "_helpers/global_variables";
@import "_helpers/syntax";


// global

@import "global";
@import "components/buttons";

// layouts
@import "template/header";
@import "template/footer";
@import "template/content";

//pages
@import "pages/home.scss";
@import "pages/docs.scss";
@import "pages/feedback.scss";

// Custom
@import "custom-scss";


