{{- define "main" -}}

<div class="docs">
  <div class="docs__pageNav">
  </div>
  <div class="docs__nav">
    <div class="docs_control">
    </div>
    <div class="docs__nav--menu" id="menuDocs">
    </div>
  </div>
  <div class="docs__content js-toc-content" id="doc_content">
    <div class="content">
    <h1 class="docs__content--title">Share Feedback</h1><br>
    <div>Drive the development of Isidro by sharing requests, recommendations, and concerns</div><br>
    </div>
    {{ partial "feedback/form" }}
  </div>
</div>

{{- end -}}