<form id="email-form" action="/api/email/submit">
    <div class="form-block row">
        <label for="email" class="col-md-2">Email:</label><br>
        <input type="text" id="email" name="email" placeholder="me@example.com" class="col-md-6"><br>
    </div>
    <div class="form-block row">
        <label for="job-type" class="col-md-2">Job Type:</label><br>
        <select name="job-type" id="job-type" class="col-md-6">
            <option value="engineer">Engineer</option>
            <option value="manager">Manager</option>
            <option value="executive">Executive</option>
            <option value="student">Student</option>
            <option value="hobbyist">Hobbyist</option>
            <option value="other">Other</option>
        </select>
    </div>
    <div class="form-block row">
        <div class="col-md-3">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </div>
</form> 