.content {
  * {
    color: #ebebeb;
  }
  h1,
  h2,
  h3 {
    margin: 1.5em 0 1em;
    font-weight: 700;
  }

  h1 {
    font-size: 36px;
    margin-top: 0;
    @include res(tablet) {
      font-size: 40px;
    }
  }

  h2 {
    font-size: 24px;
    @include res(tablet) {
      font-size: 32px;
    }
  }

  h3 {
    font-size: 18px;
    @include res(tablet) {
      font-size: 24px;
    }
  }
  

  p, dd, li {
    font-size: 17px;
    line-height: 1.7;
    @include res(tablet) {
      font-size: 18px;
    }
  }
  li {
    margin: 0 0 0.3em;
  }
  p, dd {
    margin: 0 0 1.15em;
  }

  dt {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1em 0 0.6em 0;
    @include res(tablet) {
      font-size: 20px;
    }
  }

  p + h2 {
    margin-top: 1.5em;
  }
}